
/*CSS style for header file with the profile picture */
header#main-header{  
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 100%;
  color: #FFFFFF;
  background-color: #379ffa;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  justify-content: flex-end;
  align-items: center;
}

/* CSS for positioning profile picture in center of header */
div{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for Desktops */
@media only screen and (min-width: 1024px) {
  header#main-header{
    height: 420px; 
    width: 25%;
    position: fixed;
    top: 5em;
    left: 8em;
  }
}