/* CSS Style for top bar (stays static) */
nav {
  
  height: 120px;
  width: 100vw;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index:99;
}

span {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  font-family: "Bungee", sans-serif;
}

span.tweet{ 
  font-family: Source Sans Pro;
}

.writeTweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down{
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: updown 2s ease infinite;
}

/* Animation for arrowkeys in the top right */
@keyframes updown {
  0% {
    transform: translateY(-15%);
  }

  50% {
    transform: translateY(15%);
  }

  100% {
    transform: translateY(-15%);
  }
}

/* Style for Desktops */
@media only screen and (min-width: 1024px) {
  nav{
    height: 50px;
    width: 100vw;
  }
}